@tailwind base;
@tailwind components;
@tailwind utilities;

.valid-feedback {
    display: none;
}

.invalid-feedback {
    display: none;
}

.was-validated :invalid~.invalid-feedback {
    display: block;
}